.aside {
    width: 20vw;
    height: 90vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #30353A;
}

ul {
    list-style: none;
}

.aside img {
    width: 15vw;
    padding: 5px;
    margin-bottom: 20px;
}

.aside button {
    background-color: transparent;
    border: none;
    margin-top: 30px;
    font-size: 1.6rem;
    width: 100%;
    color: white;
    padding: 19px 10px;
    cursor: pointer;
    transition-duration: .7s;
    border-radius: 2px;
}

.aside button:hover {
    background-color: #FFE100;
    transition-duration: 1s;
    color: black;
}

@media only screen and (max-width: 800px) {
    .aside {
        width: 30vw;
    }
  }

