.card {
    background-color: red;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.464);
}

.card > * {
    border-radius: 10px 0px 0px 10px;
}

.imgSpace {
    width: 45%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.imgSpace .image {
    width: 200px;
    height: 200px;
    margin: 1rem 0 1rem 0 ;
}

.card h1 {
    color: white;
}

.icons {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: flex;
    margin: 10px;
    flex-flow: column nowrap;
}

.icons > * {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.hd {
  margin-top: 50px;
}

.sparkling::after {
    background-color: rgba(0, 0, 0, 0.647);
}

.sparkling:hover  {
    opacity: 0.8;
}

.contentSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    flex-flow: column nowrap;
}

.types {
    display: flex;
    flex-flow: row nowrap;
}

.types > * {
    margin: 0px 10px;
}

.flavor {
  background-color: white;
  border-radius: 10px;
  max-height: 100px;
}

.flavor ~ .flavorComplements{
  opacity: 1;
}

.flavorComplements {
    position: absolute;
    background-color: white;
    transform: translateY(-180px);
    width: 53%;
    overflow-y: scroll;
    opacity: 0;
    transition: .3s ease-in-out;
    border-radius: 10px;
    max-height: 100px;
}

.legendary p {
    font-size: 1.5em;
    animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
    0% {
        color: blue;
      }
      10% {
        color: #8e44ad;
      }
      20% {
        color: #1abc9c;
      }
      30% {
        color: #d35400;
      }
      40% {
        color: blue;
      }
      50% {
        color: #34495e;
      }
      60% {
        color: blue;
      }
      70% {
        color: #2980b9;
      }
      80% {
        color: #f1c40f;
      }
      90% {
        color: #2980b9;
      }
      100% {
        color: blue;
      }
  }