.search button {
    background-color: transparent;
    color: #FEE000;
    border: none;
    font-weight: bold;
    font-size: 1.7em;
    cursor: pointer;
}

.search button:hover {
    opacity: 0.9;
}