.search span {
    font-size: 1.4em;
}

.search {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 90vh;
    position: relative;
}

.search input {
    width: 400px;
    display: flex;  
    justify-content: center;
    height: 50px;
    border-radius: 10px;
    font-size: 1.3em;
    margin: 0 auto;
    padding-left: 30px;
    background-image: url('../assets/pokeball.png');
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    outline: none;
}

.search input:focus {
    background-image: none;
    outline: none;

}

.search input::placeholder {
    padding: 5px;
}

.pokeball {
    width: 30px;
    height: 30px;
}

.icon {
    width: 60px;
    height: 60px;
}

.resWrapper {
    position: absolute;
    width: 70vw;
    height: 300px;
    z-index: 1000;
    transition: 1s ease-in-out;
    border-radius: 10px;
}

.resWrapper > * {
    border-radius: 10px;
}

.search button {
    background-color: #FEE000;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;   
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.426) ;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}