@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:wght@300&family=Roboto+Mono:wght@300&display=swap');

.content {
    width: 80vw;
    height: 90vh;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 20vw;
}

body {
    font-family: 'Roboto';
}

@media only screen and (max-width: 800px) {
    .content {
        width: 80vw;
        margin-left: 25vw;
    }
  }
